@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@400;700&family=Noto+Sans:wght@400;700&display=swap');
body {
  font-family: 'Noto Sans Thai', 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.list-group {
  font-size: 14px;
  display: grid;
  grid-template-columns: auto 1fr 140px;
  .item-row, .date-row, .summary-row {
    div {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  .header {
    text-align: center;
    font-weight: bold;
  }
  .info-column {
    border-right: 2px solid #F2F2F2;
    .item-row {
      display: grid;
      grid-template-columns: 30px 1fr 100px;
      border-bottom: 1px solid #F4F6FA;
      &:last-child {
        border-bottom: none;
      }
      .number {
        text-align: center;
      }
      .name {
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;

      }
      .position {
        text-align: center;
      }
    }
  }
  .date-column {
    overflow-x: scroll;
    .scroll-view {
      width: 100%;
      min-width: 800px;
    }

    .date-row {
      display: grid;
      grid-template-columns: repeat(31, 1fr);
      text-align: center;
      border-bottom: 1px solid #F4F6FA;
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        background-color: #FFFBEC;
      }
      &.header {
        background-color: #F7FBFE;
        color: #999BA1;
        border-top: 2px solid #F4F6FA;
        border-bottom: 2px solid #F4F6FA;

      }
      > div {
        border-left: 2px dashed #F4F6FA;
      }
      div:first-child {
        border-left: none;
      }
    }
  }
  .summary-column {
    border-left: 2px solid #F2F2F2;
    text-align: center;
    .summary-row {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      border-bottom: 1px solid #F4F6FA;
      &:last-child {
        border-bottom: none;
      }
    }
  }
}
